<div>
    {{#each this.artists.items}}
    <div>
        <img src="{{this.images.[1].url}}" alt="{{this.name}}">
        <h1>{{this.name}}</h1>
        <a href="/albums/{{this.id}}">View Album</a>
    </div>
    {{/each}}
</div>